# Node.js
node_modules/
npm-debug.log
yarn-error.log
.env

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json

# Ignora arquivos de crash e overrides
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Arquivos de configuração do CLI do Terraform
.terraformrc
terraform.rc

# SO e Editores de Código
.DS_Store
.vscode/
.idea/
*.swp
*.log